body {
    background: #333;
}

a {
    text-decoration: none;
}

.container {
    background: rgb(46, 45, 45);
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.4), -10px 20px 20px 0 rgba(0, 0, 0, 0.4), 0 -2px 20px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    margin: 0 auto;

}


.signin-signup {
  display: grid;
  grid-template-columns: 1fr;
}


form {
 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form.sign-up-form {
  visibility: hidden;
}


.title {
  font-size: 35px;
  color: #999;
  margin-bottom: 10px;
}

.input-field {
  width: 280px;
  height: 50px;
  border-bottom: 2px solid #999;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.input-field i {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: #999;
}

.input-field input {
  flex: 5;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #f0f0f0;
  font-weight: 600;
}


p,
a {
  font-size: 14px;
  color: rgb(17, 16, 16);
}

.forgot-password {
  align-self: flex-end;
}

.btn {
  width: 130px;
  height: 40px;
  background: none;
  outline: none;
  border: 2px solid #999;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
  color: #999;
}

.btn:hover {
  color: #333;
  border: none;
  background: #999;
}

.account-text {
  color: #f0f0f0;
}

.container.sign-up-mode form.sign-up-form {
  visibility: visible;
}

.container.sign-up-mode form.sign-in-form {
  visibility: hidden;
}


@media (max-width: 400px) {
  .container {
      width: 100vw;
      height: 100vh;
  }
}
  
  .header {
    background: rgb(246, 198, 5);
    color: rgb(15, 14, 14);
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.4), -10px 20px 20px 0 rgba(0, 0, 0, 0.4), 0 -2px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .navbar {
    background: rgb(246, 198, 5);
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.4), -10px 20px 20px 0 rgba(0, 0, 0, 0.4), 0 -2px 20px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;

    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  .filter-search{

    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border: #ddd;

  }
  
  .navbar button:hover {
    background-color: #ddd;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover {
    background-color: #ddd;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: space-between;
  }
  .product-grid {
   
    justify-content: space-around;
    padding: 20px;
    margin: 0 auto;
    

   
  }
  
  .product-item {
    display: flex;
    flex-wrap: wrap;
    background-color: #fabc12;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 250px;
    height: 300px;
    text-align: center;
    transition: transform 0.3s;
    
  } 
  
  .product-item:hover {
    transform: scale(1.05);
  }
  
  .product-item img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
  
  .product-details {
    padding: 10px;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 0;
    margin: 0;
  }

  .footer {
    justify-content: space-around;
    background: rgb(246, 198, 5);
    color: rgb(15, 14, 14);
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.4), -10px 20px 20px 0 rgba(0, 0, 0, 0.4), 0 -2px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
   
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    
  }
  